.bg-domain-0,
.bg-domain-content-0 {
  .footer {
    background: #67A0B9 !important;
  }

  .button-3:hover,
  .button-3.active {
    background: #67A0B9 !important;
    border-color: #67A0B9 !important;
  }

  a.principle:hover {
    background: #67A0B9;
  }

  #fp-nav ul li a span,
  .fp-slidesNav ul li a span {
    background: #67A0B9 !important;
  }

  #fp-nav ul li a.active span,
  #fp-nav ul li:hover a.active span,
  .fp-slidesNav ul li a.active span,
  .fp-slidesNav ul li:hover a.active span {
    border-color: #67A0B9 !important;
  }
}

.domain-quadrant-outter-0 {
  .domain-number {
    color: #67A0B9 !important;
  }

  a.principle:hover {
    background: #67A0B9 !important;
  }
  .domain-quadrant {
    .principle.active {
      background: #67A0B9 !important;
    }
  }
}


.bg-domain-1,
.bg-domain-content-1 {
  .footer {
    background: #98D2C6 !important;
  }
  .button-3:hover,
  .button-3.active {
    background: #98D2C6 !important;
    border-color: #98D2C6 !important;
  }

  a.principle:hover {
    background: #98D2C6;
  }

  #fp-nav ul li a span,
  .fp-slidesNav ul li a span {
    background: #98D2C6 !important;
  }

  #fp-nav ul li a.active span,
  #fp-nav ul li:hover a.active span,
  .fp-slidesNav ul li a.active span,
  .fp-slidesNav ul li:hover a.active span {
    border-color: #98D2C6 !important;
  }
}

.domain-quadrant-outter-1 {
  .domain-number {
    color: #98D2C6 !important;
  }

  a.principle:hover {
    background: #98D2C6 !important;
  }
  .domain-quadrant {
    .principle.active {
      background: #98D2C6 !important;
    }
  }  
}

.bg-domain-2,
.bg-domain-content-2 {
  .footer {
    background: #E87A70 !important;
  }

  .button-3:hover,
  .button-3.active {
    background: #E87A70 !important;
    border-color: #E87A70 !important;
  }

  a.principle:hover {
    background: #E87A70;
  }

  #fp-nav ul li a span,
  .fp-slidesNav ul li a span {
    background: #E87A70 !important;
  }

  #fp-nav ul li a.active span,
  #fp-nav ul li:hover a.active span,
  .fp-slidesNav ul li a.active span,
  .fp-slidesNav ul li:hover a.active span {
    border-color: #E87A70 !important;
  }
}
.domain-quadrant-outter-2 {
  .domain-number {
    color: #E87A70 !important;
  }
  a.principle:hover {
    background: #E87A70 !important;
  }
  .domain-quadrant {
    .principle.active {
      background: #E87A70 !important;
    }
  }
}

.bg-domain-3,
.bg-domain-content-3 {
  .footer {
    background: #C58983 !important;
  }

  .button-3:hover,
  .button-3.active {
    background: #C58983 !important;
    border-color: #C58983 !important;
  }

  a.principle:hover {
    background: #C58983;
  }

  #fp-nav ul li a span,
  .fp-slidesNav ul li a span {
    background: #C58983 !important;
  }

  #fp-nav ul li a.active span,
  #fp-nav ul li:hover a.active span,
  .fp-slidesNav ul li a.active span,
  .fp-slidesNav ul li:hover a.active span {
    border-color: #C58983 !important;
  }
}
.domain-quadrant-outter-3 {
  .domain-number {
    color: #C58983 !important;
  }

  a.principle:hover {
    background: #C58983 !important;
  }  
  .domain-quadrant {
    .principle.active {
      background: #C58983 !important;
    }
  }  
}

.bg-guide {
  // .footer {
  //   background: #67A0B9 !important;
  // }

  // .button-3:hover,
  // .button-3.active {
  //   background: #67A0B9 !important;
  //   border-color: #67A0B9 !important;
  // }

  // a.principle:hover {
  //   background: #67A0B9;
  // }

  #fp-nav ul li a span,
  .fp-slidesNav ul li a span {
    background: #020034 !important;
  }

  #fp-nav ul li a.active span,
  #fp-nav ul li:hover a.active span,
  .fp-slidesNav ul li a.active span,
  .fp-slidesNav ul li:hover a.active span {
    border-color: #020034 !important;
  }
}