.bg-domain-0,.bg-domain-content-0{
  .footer {
    background: #348FB1!important;
  }  
  .domain-number{
    color: #348FB1!important;
  }
  .button-3:hover, .button-3.active{
    background: #348FB1!important;
    border-color: #348FB1!important;
  }
  a.principle:hover{
    background: #348FB1;
  }
  #fp-nav ul li a span, .fp-slidesNav ul li a span{
    background: #348FB1!important;
  }
  #fp-nav ul li a.active span, #fp-nav ul li:hover a.active span, .fp-slidesNav ul li a.active span, .fp-slidesNav ul li:hover a.active span{
    border-color: #348FB1!important;
  }
}


.bg-domain-1,.bg-domain-content-1{
  .footer {
    background: #A2EFDE!important;
  }  
  .domain-number{
    color: #A2EFDE!important;
  }
  .button-3:hover, .button-3.active{
    background: #A2EFDE!important;
    border-color: #A2EFDE!important;
  }
  a.principle:hover{
    background: #A2EFDE;
  }  
  #fp-nav ul li a span, .fp-slidesNav ul li a span{
    background: #A2EFDE!important;
  }
  #fp-nav ul li a.active span, #fp-nav ul li:hover a.active span, .fp-slidesNav ul li a.active span, .fp-slidesNav ul li:hover a.active span{
    border-color: #A2EFDE!important;
  }
}

.bg-domain-2,.bg-domain-content-2{
  .footer {
    background: #00EB9D!important;
  }
  .domain-number{
    color: #00EB9D!important;
  }  
  .button-3:hover, .button-3.active{
    background: #00EB9D!important;
    border-color: #00EB9D!important;
  }
  a.principle:hover{
    background: #00EB9D;
  }    
  #fp-nav ul li a span, .fp-slidesNav ul li a span{
    background: #00EB9D!important;
  }
  #fp-nav ul li a.active span, #fp-nav ul li:hover a.active span, .fp-slidesNav ul li a.active span, .fp-slidesNav ul li:hover a.active span{
    border-color: #00EB9D!important;
  }
}

.bg-domain-3,.bg-domain-content-3{
  .footer {
    background: #E87A70!important;
  }
  .domain-number{
    color: #E87A70!important;
  }  
  .button-3:hover, .button-3.active{
    background: #E87A70!important;
    border-color: #E87A70!important;
  }
  a.principle:hover{
    background: #E87A70;
  }    
  #fp-nav ul li a span, .fp-slidesNav ul li a span{
    background: #E87A70!important;
  }
  #fp-nav ul li a.active span, #fp-nav ul li:hover a.active span, .fp-slidesNav ul li a.active span, .fp-slidesNav ul li:hover a.active span{
    border-color: #E87A70!important;
  }
}

